* {
    margin: 0;
    padding: 0;
}

.Container-one {
    height:100vh;
    /* background-color: #303030; */
    /* border: 5px solid #9c9797; */
    background-image: linear-gradient(to right, #000000, #303030);
}

.White-box {
    height: 100px;
    width: 450px;
    background-color: white;
    position: relative;
    top: 250px;
    left: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    color: #303030;
    cursor: pointer;
    
}

.White-box:hover {
    background-color: #303030;
    color: white;
}

#Text {
    font-size: 100px;
    color: white;
    font-family: 'IBM Plex Sans', bold, sans-serif;
    display: inline-block;
    position: relative;
    top: 300px;
    left: 250px;
}

#Small-text {
    color: white;
    font-family:  light,sans-serif;
    font-size: 50px;
    position: relative;
    top: 300px;
    left: 250px;

}

